.main-chat
  .main-chat__group-info
    .info-header
      .info-top
        test
      .info-name
        Member:masa
    .edit-box
      .edit-btn
        = link_to "#" do
          Edit


  .main-chat__message-list
    .message-who
      .message-name
        masa
      .message-day
        2019/4/15(wen) 17:00:00
    .coments
      おはよ

    .message-who-2
      .message-name
        sasanosuke
      .message-day
        2019/4/15(wen) 17:05:00
    .coments
      。。


  .main-chat__message-form
    %form.form-box
      .message-box
        %input{placeholder: "type a message", class: "message-form"}
        .image-icon
          .label
            %label{class: "label", for: "file"}
              = icon('far ','image')
          .label-form
            %input{class: "file_field", type: "file", id: "file"}

    %form.send-btn 
      send



